body{background-color: pink;
  border: 1px solid white
    font-family: Arial, Times New Roman, Georgia
  
}
img {
  width: 600px;
}

.header {color: purple;
  margin: 45px;
  border-top: 1px solid white; 
  border-bottom: 1px solid white; 

}

.caption {color: white;
  margin: 45px; 
}

.profile {color: purple;
  margin: 45px;
  border-top: 1px solid white; 
  border-bottom: 1px solid white; 
}

.profiletext {color: white;
  margin: 45px;
  
}

.work {color: purple;
  margin: 45px;
  border-top: 1px solid white; 
  border-bottom: 1px solid white; 
  }

.resume {color: white;
  margin: 45px;
  border-bottom: 1px solid white; 
}

.images {color: white;
  margin: 45px;
}

.creative {color: purple;
  margin: 45px;
  border-top: 1px solid white; 
  border-bottom: 1px solid white; 
}

.content {color: white;
  margin: 45px;
  
  border-bottom: 1px solid white; 
}

.photo {color: purple;
  margin: 45px;
  border-top: 1px solid white; 
  border-bottom: 1px solid white; 
  }

.culinary {color: white;
  margin: 45px;}
  
.photo {color: white;
  margin: 45px;
}

.education {color: white; 
}
  
.skill {color: purple;
  margin: 45px;
border-top: 1px solid white; 
  border-bottom: 1px solid white; 
}
  
.list {
  color: white;
  margin: 1px;
  
}
  
.footer {color: purple;
  margin: 45px;
border-top: 1px solid white; 
  border-bottom: 1px solid white; }
